.v-panel {
    background: var(--md-ref-palette-neutral98);
    padding: .8rem;
    border-radius: .3rem;
    margin: .5rem;
    animation: var(--animation-fade-in-bottom);
}

.v-panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    border-bottom: .1rem solid var(--md-ref-palette-neutral30);
    user-select: none;
}

.v-panel-title {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    margin-left: 1rem;
    user-select: none;
}

.v-panel-tools {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: .2rem;
}