/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #397524 #272A00;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: var(--md-ref-palette-secondary10);
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: var(--md-ref-palette-secondary10);
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: var(--md-ref-palette-neutral30); 
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--md-ref-palette-secondary50);
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--md-ref-palette-secondary50);
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: var(--md-ref-palette-secondary50);
  }
  