.v-sidebar { 
    padding-top: 1rem;
    width: 6rem;
    background:  var(--md-ref-palette-secondary10);
    color: var(--md-ref-palette-neutral-variant99);
}

.v-sidebar-menu {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1.5rem;
}

.v-sidebar-menu a {
    text-decoration: none;
    color: var(--md-ref-palette-neutral90);
    text-align: center;
}

.v-sidebar-item {
    display: flex;
    flex-direction: column;
    width: 5rem;
    align-self: center;
    gap: 0rem;
}

.v-sidebar-menu-caption {
    margin-top: .1rem;
    font-size: .7rem;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.v-sidebar-menu-icon {
    font-size: 1.8rem;
    border-radius: 0.5rem;
    transition: 250ms;
    width: 2.5rem;
    align-self: center;
}

.v-sidebar-item:hover .v-sidebar-menu-icon {
    background: var(--md-ref-palette-tertiary30);
    color: var(--md-ref-palette-neutral100);
    transform: scale(1.2);
}

.v-sidebar-item:hover .v-sidebar-menu-caption {
    color: var(--md-ref-palette-neutral100);
    transform: scale(1.1);
}

.v-sidebar-item-active {
    background: var(--md-ref-palette-secondary20);
    color: var(--md-ref-palette-neutral90);
}