.v-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: hidden ;
}

/* Color de fondo para filas impares */
.v-table tbody tr:nth-child(odd) {
    background-color: var(--md-ref-palette-neutral95); 
}
/* Color de fondo para filas pares */
.v-table tbody tr:nth-child(even) {
    background-color: var(--md-ref-palette-neutral90); 
}

.v-table thead tr {
    border-bottom: solid 0.2rem var(--md-ref-palette-neutral70);
    color: var(--md-ref-palette-neutral35); 
}

.v-table tbody tr {
    border-bottom: solid 0.1rem var(--md-ref-palette-neutral80);   
}

.v-table td {
    padding: 1rem;
}

.v-table th {
    padding: 1rem;
}

.v-table-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: solid 0.2rem var(--md-ref-palette-neutral70);
    padding-top: 1rem;
}

.v-table-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}